<template>
    <div class="py-3 px-1 relative grid grid-cols-1 justify-items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-700 items-center text-center">
        <img class="mx-auto w-40 h-40" src="https://maba.success.bateh.web.id/success.png" alt="Logo SUCCESS">

        <h3 class="text-2xl text-green-500 pt-10">
            SUCCESS Computer Based Test Simulation System
        </h3>

        <div class="flex flex-col">
            <t-button @click="route('register')">Daftar</t-button>
            <t-button @click="route('login')">Masuk</t-button>
        </div>

        <div class="text-center text-sm text-white mt-3">
            Handcrafted with &#128154; by The Nub &#10005; SUCCESS IT Development Team<br>
            <inertia-link :href="route('login')">&copy; Surabaya-Cepu College Student Association 2021
            </inertia-link>
        </div>
    </div>
</template>

<style scoped>

</style>

<script>
    export default {
        title: "Welcome!"
    }
</script>
